
*{
    font-family: 'Kanit', sans-serif;
}

body{
    overflow-x: hidden;
  }
//   BARRA DE NAVEGACION
.barranavegacion{
    background-color: $negro ;
    color: $blanco ;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 11%;
    border-bottom: 2px solid #fff;
    .menuhambur{
        background-color: white;
        align-items: center;
    }
    
    #logo{
        width: 7vw;
        padding-top:2vw;
    }
    .listanav{
        color: $blanco;
        &:hover{
            background-color: $blanco;
            color: $negro;
        }
        
    }
    .sdabar{
        color: #000;
        &:active{
            background-color: #000;
            color: white;
        }
        
    }
    .nav-link.show {
        color: #000;
        background-color: white;
        
    }
    .navpos{
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 12%;
        padding: 1vw 10vw;
    }
}
// CARROUSEL
.carrouselmedida{
    width: 100vw !important;
    height: 50vw;
    padding-top: 5vw;
}

// SECCION NUESTRA HISTORIA

.nuestra-historia{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    justify-content: center;
    border-radius: .8vw;
    margin: $separacion;
    .resumen-nuestrahistoria{
        width: 50%;
        @include centro;
        align-self:center;
        p{
            font-size: 20px;
            margin: 1vw;
            color: $blanco;
        }
    }
    .button1{
        background-color: black;
        border-radius: 1vw;
        cursor: pointer;
        width: 30%;
        padding: .4vw;
        margin: 0 auto;
        &:hover{
            background-color: #adadad;
        }
        a{
            @include todas-a;
        }
    }
    img{
        width: 30vw;
        margin-left: 10vw;
    }
}
main{
    .texto{
        text-align: center;
        font-size: 5vw;
    }
}
.productos{
    width: 100%;
    justify-content: center;
    .texto{
        font-size: 3vw;
        text-align: center;
    }
    img{
        width: 20vw;
        padding: 1vw;
        border-radius: 10vw;
    }
    .btncomprar{
        background-color: black;
        border-radius: 1vw;
        cursor: pointer;
        width: 20%;
        padding: .4vw;
        text-align: center;
        margin:  0 auto;
        margin-bottom: 3vw;
        &:hover{
            background-color: #adadad;
        }
        a{
            @include todas-a;
        }
    }
}
.cocteles{
    .texto{
        text-align: center;
        font-size: 5vw;
    }
}

.footer{
    background-color: #000;
    .textfooter{
        justify-content: center;
        text-align: center;
    }
    img{
        width: 5vw;
    }
    .socialmedia{
        width: 100%;
        justify-content: center;
        text-align: center;
        #icono{
            width: 3vw;
            margin-top: 2vw;
        }
    }
}

@media (max-width: 768px){
    .barranavegacion{
        position: fixed;
        .divmedia{
            background-color: #000;
        }
    }
    .carrouselmedida{
        height: 67vw;
    }
    .nuestra-historia{
        padding: 0;
        .contenedor-resumen{
            margin: 0 !important;
            justify-content: center;
        }
        .resumen-nuestrahistoria{
            margin: 3vw;
            padding: 0;
        }
        p{
            text-align: start;
        }
        .button1{
            margin-top: 2vw;
            width: 20vw;
        }
    }
    .resumenimagen{
        text-align: center;
        img{
            margin: 0;
        }
        
    }
    main{
        width: 100%;
        .productos{
            text-align: center;
            .btncomprar{
                width: 23vw;
            }
        }
        .celuimg{
            width: 100%;
            img{
                width: 50vw;
            }
        }
        .texto{
            text-align: center;
        }

    }
    .cocteles{
        width: 100%;
        .productos{
            text-align: center;
        }
        img{
            width: 50vw;
        }
        .texto{
            text-align: center;
        }
    
    }
    .footer{
        .textfooter{
            img{
                width: 20vw;
            }
        }
        .socialmedia{
            width: 100%;
            #icono{
                width: 10vw;
            }
        }
    }

}


