
// VARIABLES
$negro: #000;
$blanco: #fff;

$separacion: 3vw;

// MIXINS

@mixin centro{
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin todas-a{
    color: $blanco;
    text-decoration: none;
    text-align: center;
}

@mixin alineartexto{
    text-align: center;
};

// MAPAS

