
// VARIABLES
$negro: #000;
$blanco: #fff;

$separacion: 3vw;

// MIXINS

@mixin centro{
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin todas-a{
    color: $blanco;
    text-decoration: none;
    text-align: center;
}

@mixin alineartexto{
    text-align: center;
};

// MAPAS

$colores: (
    blanco: #fff,
    negro: #000,
);


// EXTENDS

%boton1{
    background-color: black;
    border-radius: 1vw;
    cursor: pointer;
    width: 20%;
    padding: .4vw;
    text-align: center;
    margin:  0 auto;
    margin-bottom: 3vw;
};